RewriteEngine On
Options -Multiviews

# 1. Page d'accueil
RewriteRule ^$ index.php [L]

# 2. Ne pas toucher aux vrais fichiers
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# 3. /monUrl -> /pages/monUrl.php (SI le fichier existe)
RewriteCond %{DOCUMENT_ROOT}/pages/$1.php -f
RewriteRule ^([^/]+)/?$ pages/$1.php [L]

# 4. Tout le reste -> 404
RewriteRule ^ pages/404.php [L]
